---
layout: archive
title: "Presentations"
permalink: /presentations/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<br/><figure>
  <img src='/images/cascadiaphoto.png' alt='Presenting at Cascadia Symposium for Environmental Health' style="width:100px;">
  <figcaption>Presenting at Cascadia Symposium for Environmental Health</figcaption>
</figure>

<figure>
  <img src='/images/samphoto.png' alt='Presenting to Oregon State College of Health Dean Brian Primack' style="width:100px;">
  <figcaption>Presenting to Oregon State College of Health Dean Brian Primack</figcaption>
</figure>
